# Gradle
.gradle/
build/
bin/
out/
gradle.properties

# Java compiled classes
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Configuration files
**/config-production.yml
**/config-staging.yml
**/config-development.yml
