<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.eaglejs.ffxi.service</string>
    
    <key>ProgramArguments</key>
    <array>
      <string>/Users/eaglejs/.sdkman/candidates/java/25.0.2-tem/bin/java</string>
      <string>-jar</string>
      <string>/Users/eaglejs/repos/ffxi-player-service/service/build/libs/ffxi-player-service-1.1.6.jar</string>
      <string>server</string>
      <string>/Users/eaglejs/repos/ffxi-player-service/service/src/main/resources/config-production.yml</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PORT</key>
      <string>8080</string>
    </dict>

    <key>WorkingDirectory</key>
    <string>/Users/eaglejs/repos/ffxi-player-service/service</string>

    <key>StandardErrorPath</key>
    <string>/tmp/io.eaglejs.ffxi.service.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/io.eaglejs.ffxi.service.out</string>

    <key>RunAtLoad</key>
    <true />

    <key>KeepAlive</key>
    <true />
  </dict>
</plist>
