:root {
  --bs-gray-light: #eee;
  --bs-tertiary-bg: var(--blue-600);
  --bs-progress-bg: var(--bs-gray-400);
  --body-bg: #ffffff;
  --buff-bg: var(--bs-secondary-bg); /* #ced4da; */
  --chat-log-bg: #031633;
  --chat-log-blue: #3984fa;
  --chat-log-green: #01b301;
  --chat-log-lt-green: #89f789;
  --chat-log-mint: #00ff97;
  --chat-log-orange: #ffa500;
  --chat-log-purple: #df02df;
  --chat-log-red: #ff0000;
  --chat-log-timestamp: #6edff6;
  --chat-log-white: #ffffff;
  --chat-log-yellow: #ffff00;
  --chat-log-lime: #a9dd00;
  --menu-color: #000000;
  --blue: var(--bs-blue);
  --blue-600: var(--bs-blue-600);
}

[data-bs-theme="dark"] {
  --bs-gray-light: #eee;
  --bs-tertiary-bg: var(--blue-600);
  --bs-progress-bg: var(--bs-secondary-bg);
  --body-bg: #212529;
  --buff-bg: var(--bs-progress-bg); /* #495057; */
  --chat-log-bg: #031633;
  --chat-log-blue: #0d6efd;
  --chat-log-green: #00dc75;
  --chat-log-lt-green: #89f789;
  --chat-log-mint: #17a2b8;
  --chat-log-orange: #fd7e14;
  --chat-log-purple: #6f42c1;
  --chat-log-red: #dc3545;
  --chat-log-timestamp: #6edff6;
  --chat-log-white: #ffffff;
  --chat-log-yellow: #ffff00;
  --chat-log-lime: #a9dd00;
  --menu-color: #ffffff;
    ;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}