@import './base.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: #fff;
}

b {
  color: #918f8f;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: var(--bs-black);
  text-decoration: none;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
}

[data-bs-theme="dark"] {
  b {
    color: #bbb;
  }
  a {
    color: var(--bs-white);
  }
}
